{{> head}}
{{> navbar}}


<div class="row">
    <div class="col-8">
        <h1>Galaxia</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias nisi adipisci dicta provident labore quia quibusdam soluta ducimus tempora, aliquid magni mollitia? Architecto officia dicta laudantium inventore magni reprehenderit ipsam.
        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/about.jpg" class="img-thumbnail">

    </div>
</div>

{{> footer}}